.StatisticPanel {
    position: absolute;
    top: 79%;
    left: 88%;

    display: flex;
    justify-content: center;
}

.statblock {
    display: flex;
    flex-direction: column;

    /*border: 1px solid black;*/
}

.buyamount {
    color: green;
}

.sellamount {
    color: red;
}